#image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/S0x2ArB.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

#text {
  padding: 300px;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;

}
#stockpic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
